/* Change the background of the entire visible page */
body {
    background-color: #f0f0f0; /* sky blue */
}

/* Style for all paragraphs */
p {
    color: rgb(13, 36, 167);
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {

    border: 2px solid rgb(216, 156, 25); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */

