* Style for all paragraphs */
p {
    color: rgb(124, 167, 124);
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(153, 133, 97); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
