/* Change the background of the entire visible page */
body {
    background-color: #5766e9; /* sky blue */
}

/* Style for all paragraphs */
p {
    color: rgb(0, 38, 255);
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {

    border: 2px solid rgb(27, 2, 255); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
